# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=f306cefdc2b533fb29e4448af0654f4f
###< symfony/framework-bundle ###

SYNC_COUNTRIES=true

COUNTRY_PROVIDER_URL=https://raw.githubusercontent.com/mledoze/countries/master/countries.json

NEO4J_HOST=land-route-neo4j
NEO4J_USER=neo4j
NEO4J_DB=neo4j
NEO4J_PASSWORD=password
NEO4J_PROTOCOL=neo4j
NEO4J_DRIVER=neo4j
NEO4J_PORT=7687
